/* MIX */

body{
  font-family: 'Open Sans', sans-serif;
}

/* layout top header */
.top__header{
  line-height: 60px;
  height:60px;
}
/* struttura logo */
.logo img{
  height:14px;
}

/* struttura menu */
.main-nav li, .lang-nav li{
  display: inline-block;
}
.main-nav li:not(:last-child){
  margin-right:40px;
}
.main-nav li a, .lang-nav button {
  color:#000;
  font-weight: 600;
}
.lang-nav button{
  border:none;
  border-left:1px solid #9B9B9B;
  border-right:1px solid #9B9B9B;
  padding: 0 10px;
  background-color: transparent;
  line-height: normal;
}
.main-nav li a:hover{
  text-decoration: none;
}
.main-nav, .lang-nav{
  display: inline-block;
  font-size:12px;
  text-transform: uppercase;
}
.lang-nav li:not(:last-child){
  margin-right:10px;
}
/* struttura login button */

.login__btn {
  padding: 10px 20px;
  background-color:#000;
  color:#fff;
  border-radius: 0;
  font-weight: 600;
  font-size:14px;
  text-transform: capitalize;
}
.login__btn:hover{
  color:#fff;
}
