/* MIX */

body{
  font-family: 'Open Sans', sans-serif;
  color:#000;
}

/* layout top header */
.top__header{
  line-height: 60px;
  height:60px;
}
/* struttura logo */
.logo img{
  height:14px;
}

/* struttura menu */
.main-nav li, .lang-nav li{
  display: inline-block;
}
.main-nav li:not(:last-child){
  margin-right:40px;
}
.main-nav li a, .lang-nav button {
  color:#000;
  font-weight: 600;
}
.lang-nav button{
  border:none;
  border-left:1px solid #9B9B9B;
  border-right:1px solid #9B9B9B;
  padding: 0 10px;
  background-color: transparent;
  line-height: normal;
}
.main-nav li a:hover{
  text-decoration: none;
}
.main-nav, .lang-nav{
  display: inline-block;
  font-size:12px;
  text-transform: uppercase;
}
.lang-nav li:not(:last-child){
  margin-right:10px;
}
/* struttura login button */

.login__btn {
  padding: 10px 20px;
  background-color:#000;
  color:#fff;
  border-radius: 0;
  font-weight: 600;
  font-size:14px;
  text-transform: capitalize;
}
.login__btn:hover{
  color:#fff;
}

/* struttura hamburger menu */
.hamburger-menu{
  background-color: transparent;
  font-size: 18px;
}

/* struttura hero */
h1{
  font-size: 105px;
  font-weight: bold;
  color:#000;
}
.hero-img img{
  width:100%;
}

/* text responsive */
@media screen and (max-width:992px){
  h1{
    font-size:66px;
  }
}

@media screen and (max-width:767px){
  h1{
    font-size:56px;
  }
}

/* struttura main */
.products{
  margin-top: 100px;
}

/* struttura sezione prodotti */

.box{
  background-color: #FAFAFA;
  padding: 80px 20px 30px 20px;
}
.name-product{
  height:20px;
}
.img__product{
  max-height:300px;
  width:100%;
}
.box h2{
  margin:30px 0;
  font-size:20px;
}
.box a{
  display: inline-block;
  font-size:20px;
  text-decoration: none;
  display:block;
}
/* allineo immagini con altezze diverse */
.link_box{
  margin-bottom:60px;
}
.link_box_moto{
  margin-bottom:30px;
}

/* responsive per immagini  */
@media screen and (max-width:991px){
  .img__product{
    width:auto;
  }
}

/* struttura sezione old man */

.old-man{
  margin-top: 100px;
  position:relative;
}
.phone{
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translatex(-50%);
  background-image: url("../img/iphone-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 65%;
  min-width:500px;
}
.phone img{
  width:70%;
}
.old-man:before{
  content:"";
  display:block;
  height:80vh;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.title-work h2{
  font-weight: bold;
  font-size: 34px;
  padding-top: 50px;
}
.step-1 h3{
  font-weight: bold;
  padding-top: 50px;
}
.step-1 p{
  font-size:20px;
}
@media screen and (max-width:991px){

  .title-work{
    text-align:left;

  }
  .title-work:before{
    content:"";
    height:200px;
    display:block;
  }
  .phone{
    top:10%;
    background-size:61%;
  }
  .phone img{
    width: 65%;
  }
}
